{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <body class="bd">
    <main >
        <p style="font-family:'Trebuchet MS'">Connexion impossible, le lien de connection n'est plus actif. Vous devez demander un nouveau lien de connexion.</p>
    </main>
    </body>

{% endblock %}