{% extends "base.html.twig" %}
{% block head %}
    {{ parent() }}
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel = "stylesheet" type="text/css" href = "../css/my_CSS.css"/>
{% endblock %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block content %}
<body class="bd">
<main>
<div class="card" style="width : 60%; margin-left : 20%; margin-top:10%">
    <h5 class="card-header cardHeader">
          Création des comptes étudiants à partir d'un fichier Excel : 
    </h5>
    <div class="card-body">
    <form action="/excel-parse" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        <input class="form-control" type="file" name="file-selector" id="file-selector">
        </div>
        <button type="submit" class="btn border bttn2 RightAlign ">Télécharger</button>
        <script>
            const fileSelector = document.getElementById('file-selector');
            fileSelector.addEventListener('change', (event) => {
                const fileList = event.target.files;
                console.log(fileList);
            });
        </script>
    </form>
</div>
</div>
</main>
  </body>
{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}