<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet Alternant</title>
</head>
<body>
{% block body %}
    <h1>Création des comptes étudiants à partir d'un fichier Excel : </h1>
    <form action="/excel-parse" method="post" enctype="multipart/form-data">
        <input type="file" name="file-selector" id="file-selector">
        <button type="submit" class="btn">Upload</button>
        {{test}}
        <script>
            const fileSelector = document.getElementById('file-selector');
            fileSelector.addEventListener('change', (event) => {
                const fileList = event.target.files;
                console.log(fileList);
            });
        </script>
    </form>
{% endblock %}
</body>
</html>